
.single-country-container{
    margin: 20px 8px;
    padding: 8px 8px 20px 8px;
    box-shadow: 8px 8px 25px gray;
    border-radius: 5px;
}
.heading{
    text-align: center;
}

.button-style{
    padding: 5px;
    background-color:goldenrod;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid red;
    height: 30px;
    width: 100px;
}